{% assign person = site.data.profile.person %}
{% if page.profile %}
  {% assign profile_view = site.data.profile.views[page.profile] %}
{% endif %}
<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ person.name | escape }}</h1>
      {% if person.company and person.company_url and person.title contains person.company %}
        {% assign title_prefix = person.title | split: person.company | first %}
        <h2>{{ title_prefix | escape }}{% include a.html href=person.company_url class="header-company-link" %}{{ person.company | escape }}</a></h2>
      {% else %}
        <h2>{{ person.title | escape }}</h2>
      {% endif %}

      {% if page.profile %}
        <div class="doc-actions no-print">
          <button
            type="button"
            class="doc-action"
            aria-label="Print"
            title="Print"
            onclick="window.print(); this.blur();"
          >
            <svg class="doc-action-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M7 8V3h10v5" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M7 17H5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M7 14h10v7H7z" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>

          {% if profile_view.downloads and profile_view.downloads.size > 0 %}
            {% assign download_item = profile_view.downloads | first %}
            <a
              class="doc-action"
              href="{{ download_item.path | relative_url }}"
              download
              aria-label="{{ download_item.label | default: 'Download' | escape }}"
              title="{{ download_item.label | default: 'Download' | escape }}"
            >
              <svg class="doc-action-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M12 3v12" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7 11l5 5 5-5" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5 19h14" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.dribbble_username -%}
          <li>
            <a target="_blank" href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-dribbble-square" title="Dribble link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.facebook_username -%}
          <li>
            <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-facebook" title="Facebook link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.flickr_username -%}
          <li>
            <a target="_blank" href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-flickr" title="Flickr link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if person.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ person.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="Github link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.stackoverflow_username -%}
          <li>
            <a target="_blank" href="https://stackoverflow.com/users/{{ site.stackoverflow_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-stack-overflow" title="Stackoverflow link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.instagram_username -%}
          <li>
            <a target="_blank" href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-instagram" title="Instagram link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if person.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ person.linkedin_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin" title="Linkedin link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.xing_username -%}
          <li>
            <a target="_blank" href="https://www.xing.com/profile/{{ site.xing_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-xing" title="Xing link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.pinterest_username -%}
          <li>
            <a target="_blank" href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-pinterest" title="Pintrest link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.twitter_username -%}
          <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-twitter" title="Twitter link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.youtube_username -%}
          <li>
            <a target="_blank" href="https://www.youtube.com/{{ site.youtube_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-youtube" title="Youtube link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.googleplus_username -%}
          <li>
            <a target="_blank" href="https://plus.google.com/{{ site.googleplus_username| escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-google-plus" title="Google plus link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.orcid_username -%}
          <li>
            <a target="_blank" href="https://orcid.org/{{ site.orcid_username | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-orcid" title="ORCiD link"></i>
            </a>
          </li>
        {%- endif -%}
        {% for link in site.additional_links %}
          <li>
            {% include a.html href=link.url class="button button--sacnite button--round-l" %}
              <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>

      {%- if person.email -%}
        <p>
          Email: <a href="mailto:{{ person.email }}" target="_blank">{{ person.email | escape }}</a>
        </p>
      {%- endif -%}
      {%- if person.phone -%}
        <p>
          Phone: {{ person.phone | escape }}
        </p>
      {%- endif -%}
      {%- if person.website -%}
        <p>
          {%- assign website_label = person.website -%}
          {%- assign website_last = website_label | slice: -1, 1 -%}
          {%- if website_last == "/" -%}
            {%- assign website_len = website_label | size | minus: 1 -%}
            {%- assign website_label = website_label | slice: 0, website_len -%}
          {%- endif -%}
          Web: {% include a.html href=person.website %}{{ website_label | escape }}</a>
        </p>
      {%- endif -%}
    </div>
  </div>
</div>
